* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container-header {
  display: flex;
  height: 80px;
  background: #1e1e1e;
  color: white;
  padding: 20px;
  text-align: center;
}

.header-titulo {
  display: flex;
  padding: 5px;
}

.header-titulo h1 {
  font-size: 1.5em;
  margin: 0;
  color: #d9d7d7;
  padding: 15px;
}

.header-titulo h1:hover {
  color: #;
  transition: all 0.3s ease;
  cursor: pointer;
}

.logo {
  width: 60px;
  height: 55px;
  margin-right: 20px;
  border-radius: 50px;
}

/*-------------navegador---------------*/

nav {
  display: inline-block;
  width: 100%;
  background: #1e1e1e;
  padding: 10px 20px;
}

.container-buscador {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
}

.container-buscador input[type="text"] {
  width: 300px;
  height: 35px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 1em;
}

.container-buscador input[type="text"]:focus {
  outline: none;
  border-color: #1e1e1e;
}
.container-buscador input[type="submit"] {
  background-color: #1e1e1e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

.container-buscador .boton-buscar {
  background: #1e1e1e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
}

.container-buscador .boton-buscar:hover {
  background-color: #08456e;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.container-buscador .boton-buscar:focus {
  outline: none;
  border-color: #1e1e1e;
}

/*---------------menu-------------------*/

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: right;
}

.menu-container ul {
  list-style: none;
  display: flex;
}

.menu-container ul li {
  display: inline-block;
}
.menu-container ul li a {
  background: ;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.menu-container ul li a:hover {
  background-color: #5d086e;
  transition: all 0.3s ease;
  color: #fff;
}

.seccion {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.banner-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*---------*/

.container-bienvenidos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.container-texto-bienvenidos h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
