body{
    background-color: beige;
    
}
h2{
    text-align: center;
}

table,td,th{
    border: 1px solid black;
    border-radius: 5px;
    background-color: wheat;
    margin: auto;
}

ul,ol{
    border: 1px solid black;
    background-color: wheat;
    border-radius: 10px;
    width: 100px;
    margin: auto;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

#grande{
    width: 200px;
    padding-top: 10px;
    
}
#romano{
    background-color: beige;
    margin-bottom: 10px;
}
#trofeos,li{
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}
